.footer__author-mail {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: white;
  transition: .2s;
  text-decoration: none;
  margin: 0 3px;
}

.footer__author-mail:hover {
  opacity: .6;
}

@media screen and (max-width: 320px) {
  .footer__author-mail {
    line-height: 14px;
  }
}
