.footer__links-container {
  width: 100%;
  list-style-type: none;
  padding: 0 0 24px 0;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 18px;
  align-items: flex-start;
  justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .footer__links-container {
    grid-auto-flow: row;
  }
}
