.footer__links-container {
  width: 100%;
  list-style-type: none;
  padding: 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 -9px;
}

@media screen and (max-width: 500px) {
  .footer__links-container {
    flex-direction: column;
    margin-bottom: 24px;


  }
}
