.cover__subtitle {
  text-align: center;
  max-width: 360px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: white;
  align-self: flex-start;
  justify-content: center;
  margin: 0 auto;
  -webkit-align-self: flex-end;
}

@media screen and (max-width: 510px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    padding: 0 16px;
  }
}
