@import url(./__link/cover__link.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);


.cover {
  max-width: 1184px;
  min-height: 740px;
  background-image: url('../../images/cover-trains.jpg');
  background-size: cover;
  margin: 0 auto 92px auto;
  position: relative;
  z-index: 1;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
    min-height: 200px;
    margin: 0 auto 64px auto;
  }
}
