@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/header/header.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/place/place.css);
@import url(../blocks/footer/footer.css);




.cover {
  max-width: 1184px;
  min-height: 740px;
  width: 100%;
  margin: 0 auto 92px auto;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
    min-height: 200px;
    margin: 0 auto 64px auto;
  }
}

.cover__overlay {
  width: 100%
  height: 100%;
}

.cover:hover .cover__overlay {
  opacity: 0.8;
}
