@import url(./__image/place__image.css);
@import url(./__item/place__item.css);
@import url(./__link/place__link.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__paragraphs/place__paragraphs.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__website/place__website.css);

.place {
  max-width: 984px;
  margin: 92px auto 92px auto;
}

@media screen and (max-width: 1024px) {
  .place {
    padding: 0 48px 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    margin: 88px auto 88px auto;
    padding: 0 24px 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    padding: 0;
    margin: 64px auto 64px auto;
  }
}
