@import url(./__author-mail/footer__author-mail.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__links-container/footer__links-container.css);

.footer {
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .footer {
    padding: 0 48px 0 48px;
    box-sizing: inherit;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 0 48px 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px 0 24px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
    padding: 0 16px 0 16px;
  }
}
