.footer {
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .footer {
    padding: 0 48px 0 48px;
    box-sizing: inherit;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 0 48px 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px 0 24px;
    flex-direction: column;
  }
}
