.root {
  background: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
  min-width: 320px;
  max-width: 2560px;
  margin: 0 auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.header {
  background: #2A2C2F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.header__logo {
  margin-left: 48px;
  margin-top: 28px;
}


.header__lang-links {
  list-style-type: none;
  margin-top: 46px;
  margin-right: 48px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 18px;
}

.header__lang-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: white;
  text-decoration: none;
  transition: .2s
}

.header__lang-link:hover {

  opacity: .6;
}
.header__lang-link_ru {
  text-decoration: underline;
}
